<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.gsywc.good"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@权限申明@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    
    <!-- 系统广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 网络相关权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 本地读写取相关权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取手机数据相关权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/friend_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" 
        android:name=".app.FriendApplication">
        <activity
            android:name=".app.activity.FriendMainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".app.activity.FriendChatActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        
        <activity
            android:name=".app.activity.FriendChatListActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:launchMode="singleInstance">
        </activity>
        
        <activity
            android:name=".app.activity.user.FriendRegistrationActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".app.activity.FriendFriendListActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        
        
        
        <service 
            android:name=".app.service.XmppConnectionService">
        </service>
        
        
        <receiver 
            android:name=".app.receiver.UnlockScreenReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
        
    </application>
    

</manifest>
